@page
@model ProjectPRN221.Pages.ForgotPasswordModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password | Grocery Mart</title>
    <link rel="stylesheet" href="~/assets/css/main.css" />
</head>
<body>
    <main class="auth">
        <div class="auth__content">
            <div class="auth__content-inner">
                <a href="./" class="logo">
                    <img src="~/assets/icons/logo.svg" alt="grocerymart" class="logo__img" />
                    <h2 class="logo__title">grocerymart</h2>
                </a>
                <h1 class="auth__heading">Forgot Password</h1>
                <p class="auth__desc">Please enter your email address. You will receive a link to create a new password via email.</p>
                <form method="post" class="form auth__form">
                    <div class="form__group">
                        <div class="form__text-input">
                            <input type="email"
                                   name="Email"
                                   id="Email"
                                   placeholder="Email"
                                   class="form__input"
                                   autofocus
                                   required />
                        </div>
                    </div>
                    <div class="form__group auth__btn-group">
                        <input type="submit" class="btn btn--primary auth__btn form__submit-btn" value="Send Reset Link" />
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
</html>
