@page
@model ProjectPRN221.Pages.ProfileModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Profile";
}
<main class="profile">
    <div class="container">
        <!-- Search bar -->
        <div class="profile-container">
            <div class="search-bar d-none d-md-flex">
                <input type="text" name="" id="" placeholder="Search for item" class="search-bar__input" />
                <button class="search-bar__submit">
                    <img src="./assets/icons/search.svg" alt="" class="search-bar__icon icon" />
                </button>
            </div>
        </div>

        <!-- Profile content -->
        <div class="profile-container">
            <div class="row gy-md-3">
                <div class="col-3 col-xl-4 d-lg-none">
                    <aside class="profile__sidebar">
                        <!-- User -->
                        <div class="profile-user">
                            <img src="./assets/img/avatar/avatar-3.png" alt="" class="profile-user__avatar" />
                            <h1 class="profile-user__name">@Model.Fullname</h1>
                        </div>

                        <!-- Menus (omitted for brevity) -->
                        <!-- Add your menus here as per the provided HTML -->
                    </aside>
                </div>
                <div class="col-9 col-xl-8 col-lg-12">
                    <div class="cart-info">
                        <div class="row gy-3">
                            <div class="col-12">
                                <h2 class="cart-info__heading">
                                    <a href="/Index">
                                        <img src="./assets/icons/arrow-left.svg" alt="" class="icon cart-info__back-arrow" />
                                    </a>
                                    Personal info
                                </h2>

                                <form method="post" class="form form-card">
                                    <!-- Form row 1 -->
                                    <div class="form__row">
                                        <div class="form__group">
                                            <label for="full-name" class="form__label form-card__label">
                                                Full name
                                            </label>
                                            <div class="form__text-input">
                                                <input type="text" id="full-name" placeholder="Full name" class="form__input" asp-for="Fullname" required autofocus />
                                                <img src="./assets/icons/form-error.svg" alt="" class="form__input-icon-error" />
                                            </div>
                                            <p class="form__error">Please enter your full name</p>
                                        </div>
                                        <div class="form__group">
                                            <label for="email-adress" class="form__label form-card__label">
                                                Email address
                                            </label>
                                            <div class="form__text-input">
                                                <input type="email" id="email-adress" placeholder="Email address" class="form__input" asp-for="Email" readonly />
                                                <img src="./assets/icons/form-error.svg" alt="" class="form__input-icon-error" />
                                            </div>
                                            <p class="form__error">Please enter a valid email address</p>
                                        </div>
                                    </div>

                                    <!-- Form row 2 -->
                                    <div class="form__row">
                                        <div class="form__group">
                                            <label for="password" class="form__label form-card__label">
                                                Password
                                            </label>
                                            <div class="form__text-input">
                                                <input type="password" id="password" placeholder="Password" class="form__input" asp-for="Password" required />
                                                <img src="./assets/icons/form-error.svg" alt="" class="form__input-icon-error" />
                                            </div>
                                            <p class="form__error">Please enter a new password</p>
                                        </div>
                                    </div>

                                    <div class="form-card__bottom">
                                        <a class="btn btn--text" href="/Index">Cancel</a>
                                        <button type="submit" class="btn btn--primary btn--rounded">Save</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
