@page "{productId:int}"
@model ProjectPRN221.Pages.Carts.AddToCartModel

@{
    ViewData["Title"] = "Add to Cart";
}

<h1>@ViewData["Title"]</h1>

<section>
    <p>Adding product to cart...</p>
</section>